// definition de la mise en page desktop :
.responsive {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    h3 {
        width: 100%;
    }
    article {
        display: flex;
        flex-direction: column;
        z-index: 1;
        order: 1;
        width: 50%;
        h4{
            margin-top: 20px;
        }
    }
    .right {
        display: flex;
        z-index: 0;
        order: 2;
        width: 50%;
        img {
            width: 100%;
            clip-path : polygon(25% 0,100% 0, 100% 100%, 0 100%);
            border-radius: 0 5px 5px 0;
        }
    }    
    .left {
        display: flex;
        z-index: 0;
        order: 0;
        width: 50%;
        img {
            width: 100%;
            clip-path : polygon(0 0,75% 0, 100% 100%, 0 100%);
            border-radius: 5px 0 0 5px;
        }
    }
}