.responsive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1500px;
}

.responsive h3 {
  width: 100%;
}

.responsive article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 50%;
}

.responsive article h4 {
  margin-top: 20px;
}

.responsive .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 0;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 50%;
}

.responsive .right img {
  width: 100%;
  -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
  border-radius: 0 5px 5px 0;
}

.responsive .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 0;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: 50%;
}

.responsive .left img {
  width: 100%;
  -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 75% 0, 100% 100%, 0 100%);
  border-radius: 5px 0 0 5px;
}
/*# sourceMappingURL=desktop.css.map */