// definition de la mise en page mobil :

.logo-intro {
    max-width: 100%;
}

.responsive {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    h3 {
        width: 100%;
        text-shadow: 0 0 5px #000;
        margin-bottom: -30px;
        display: flex;
        z-index: 2;
    }
    article {
        display: flex;
        flex-direction: column;
        z-index: 1;
        order: 2;
        width: 100%;
        padding: 5px;
        h4{
            margin-top: 20px;
        }
        .video {
            display: flex;
            flex-direction: column;
            video {
                width: 100%;
            }
        }
    }
    aside {
        display: flex;
        z-index: 0;
        order: 1;
        width: 100%;
        img {
            width: 100%;
        }
    }
}