@font-face {
  font-family: "arcan";
  src: url("../assets/font/NewTegomin-Regular.ttf");
}

@font-face {
  font-family: "general";
  src: url("../assets/font/Rufina-Regular.ttf");
}

body {
  background-color: #070707;
  overflow-x: hidden;
}

body * {
  color: #dfdbae;
  font-family: 'general', sans-serif;
  font-size: 1rem;
}

body h1, body h2, body h3, body h4, body p {
  padding-left: 5px;
}

body h2 {
  font-size: 1.7rem;
}

body h3 {
  font-size: 1.5rem;
}

body h4 {
  font-size: 1.2rem;
}

body a {
  font-family: 'arcan', sans-serif;
  color: #751414;
}

body a:hover {
  color: #971212;
}

body a:hover::before {
  content: "";
  background: url(../assets/png/blood.png);
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: 120px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

body strong {
  font-size: 1.5em;
  font-weight: bold;
}

header a, footer a {
  font-family: 'arcan', sans-serif;
  font-size: 1.5rem;
  color: #751414;
}

header a:hover, footer a:hover {
  color: #971212;
}

header a:hover::before, footer a:hover::before {
  content: "";
  background: url(../assets/png/blood_link.png);
  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: 30px;
  margin-left: 0px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.introduction {
  width: 100%;
}

.introduction h1 {
  color: transparent;
}

.introduction p, .introduction a {
  font-family: 'arcan', sans-serif;
  font-size: 1.5rem;
  padding: 2px;
}

.introduction a:hover {
  text-decoration: none;
}

.introduction a:hover::before {
  content: "";
  background: url(../assets/png/blood_arcan.png);
  position: absolute;
  width: 400px;
  height: 100px;
  margin-top: 25px;
  margin-left: -50px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.presentation {
  width: 100%;
}

.evenement, .about {
  width: 100%;
}

.evenement h1, .about h1 {
  font-family: 'arcan', sans-serif;
  font-size: 2rem;
}

.evenement p, .evenement a, .about p, .about a {
  font-size: 1.5rem;
  padding: 2px;
  border: 1px solid transparent;
}

.evenement a:hover, .about a:hover {
  text-decoration: none;
  border: 1px solid #971212;
  border-radius: 10px;
}

.evenement a:hover *, .about a:hover * {
  color: #971212;
}

.evenement a:hover::before, .about a:hover::before {
  content: "";
  background: url(../assets/png/blood_arcan.png);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
  width: 400px;
  height: 100px;
  margin-top: 15%;
  margin-left: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=style.css.map */