// definition de la mise en page générale :
@font-face {
    font-family: "arcan";
    src: url("../assets/font/NewTegomin-Regular.ttf"), 
  }
  @font-face {
    font-family: "general";
    src: url("../assets/font/Rufina-Regular.ttf"), 
  }

  body {
    background-color: #070707;
    overflow-x: hidden;
    * {
        color: rgb(223, 219, 174);
        font-family: 'general', sans-serif;
        font-size: 1rem;
    }
    h1, h2, h3, h4, p {
        padding-left: 5px;
    }

    h2 {
        font-size: 1.7rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    a {
        font-family: 'arcan', sans-serif;
        color: #751414;       
    }
    a:hover {
        color: #971212;
    }  
    a:hover::before {
            content: "";
            background: url(../assets/png/blood.png);
            position: absolute;
            width: 100px;
            height: 100px;
            margin-top: -50px;
            margin-left: 120px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
    }
    strong {
        font-size: 1.5em;
        font-weight: bold;
    }
  }
header, footer {
    a {
        font-family: 'arcan', sans-serif;
        font-size: 1.5rem;
        color: #751414;       
    }
    a:hover {
        color: #971212;
    }  
    a:hover::before {
            content: "";
            background: url(../assets/png/blood_link.png);
            position: absolute;
            width: 50px;
            height: 50px;
            margin-top: 30px;
            margin-left: 0px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
    }
}

.introduction {
    width: 100%;
    h1 {
        color: transparent;
    }
    p , a {
        font-family: 'arcan', sans-serif;
        font-size: 1.5rem;
        padding: 2px;
    }
    a:hover {
        text-decoration: none;
    }
    a:hover::before {
        content: "";
        background: url(../assets/png/blood_arcan.png);
        position: absolute;
        width: 400px;
        height: 100px;
        margin-top: 25px;
        margin-left: -50px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.presentation {
    width: 100%;
}

.evenement, .about {
    width: 100%;
    h1 {
        font-family: 'arcan', sans-serif;
        font-size: 2rem;
    }
    p , a {
        font-size: 1.5rem;
        padding: 2px;
        border: 1px solid transparent;
    }
    a:hover {
        text-decoration: none;
        border: 1px solid #971212; ;
        border-radius: 10px;
        * {
            color: #971212;
        }
    }
    a:hover::before {
        content: "";
        background: url(../assets/png/blood_arcan.png);
        position: absolute;
        display: flex;
        z-index: 5;
        width: 400px;
        height: 100px;
        margin-top: 15%;
        margin-left: 50%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
